.form_contacto {
    background: #EAF2FD;
    display: flex;
    flex-direction: row;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin-top: 30px;
}

.img_contacto {
    position: static;
    width: 580px;
    height: 490px;
    top: 65.5px;
    border-radius: 20px;
    padding: 10px;
}

.form_contacto__formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form_contacto__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    padding: 8px;
}

.form_contacto__texto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    padding: 8px;
}

.form_contacto__ingreso {
    width:  656px;
    margin: 8px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    border-bottom: 2px solid #2cbaba;
}


.form_contacto__mensaje {
    margin: 10px;
    background: #FFFFFF;
    border-radius: 4px;
    border: none;
    border-bottom:  2px solid #2cbaba;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;    
    line-height: 19px;
    color: #464646;
}

.form_contacto__boton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #2cbaba;
    padding: 10px;
    margin: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.form_contacto__boton:active {
    transform: scale(.9);
    box-shadow: #464646 3px 3px 3px;
}