.encabezado {
    position: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    background: #618e87;
    position: static;
    width: 1440px;
    height: 20px;
    left: 152px;
    top: 0px;
}

.fa-terminal {
    position: static;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    color: rgb(24, 201, 171);
}

.encabezado_nombre {
    position: static;
    width: 192px;
    height: 19px;
    left: 32px;
    top: 2.5px;
    margin-left: 2rem;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #464646;
}

.encabezado_nav__link {
    position: static;
    width: 168px;
    height: 19px;
    left: 485px;
    top: 0px;
    margin: 5px;
    margin-right: 2rem;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #464646;

}
.encabezado_nav__link:hover {
text-decoration: underline rgb(24, 201, 171) 3px;
margin-bottom: 1rem;
}