.header {
    width: auto;
    height: 80px;
    background: #64a69d8f;
}
.container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.fa-terminal {
    color: rgb(21, 127, 109);
}

.encabezado_nombre {
    color: #464646;
}

.encabezado_nav__link {
    text-decoration: none;
    color: #464646;
    margin: 5px;
}

.encabezado_nav__link:hover {
    text-decoration: underline rgb(24, 201, 171) 3px;
}
