#experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos_titulo{
    padding: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

.proyectos_box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.proyectos_img {
    width: 500px;
    height: 300px;
    border-radius: 30px;
    border: 1px solid #464646;
    box-shadow: #464646 8px 8px 8px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px;
    width: 368px;
    height: 112px;
    left: 768px;
    top: 147px;
}

.experiencia_titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.experiencia_texto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

.experiencia_botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 10px;
}

.experiencia_repo {
    color: #2cbaba;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.experiencia_demo {
    background: #2cbaba;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}