#hero {
    width: 90%;
    background-image: url(../imagenes/banner1.jpg);
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
}

.hero_info__titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 61px;
    margin-left: 20px;
    color: #464646;
}

.hero_info__presentacion {
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.hero_info__social {
margin-top: 20px;
}

.hero_info__social-link {
    margin-left: 20px;
    color: #464646;
    text-decoration: none;
}

.hero_info__social-link:hover {
    text-decoration: underline rgb(24, 201, 171) 3px;
}

.hero_fotoPerfil {
    border-radius: 100%;
}