@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .header{
        height: auto;
    }
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /***** ENCABEZADO *****/

    .encabezado_nombre {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .encabezado_nav__link {
        display: list-item;
    }

    /***** HERO *****/

    #hero {
        width: 70%;
        background: none;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        margin-top: none;
        margin-left: none;
    }

    .hero_info__social-link {
        padding: 5px;
    }
    .fa-external-link {
        color: #2cbaba;
    }


    /***** SOBRE MI *****/

    #sobre {
        width: auto;
    }


    .sobre_container__descripcion {
        width: auto;
        display:inline-block;
        align-items:flex-start;
        margin-right: 30px;
    }

    /***** SKILLS/HOBBIES *****/

    .skills_lista {

        margin-left: 70px;
    }


    .skills_lista__items {
        width: 25%;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: 5px;

    }

    .hobbies_lista{
        margin-left: 70px;
    }

    .hobbies_lista__items {
        width: 25%;
        height: auto;
        display: inline-flex;
        align-items: center;
        margin: 5px;
        
    }

    .hobbies_lista__items-icono {
        width: 60%;
        height: auto;
    }

    /***** FORMACION *****/

    #formacion {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .curso {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cursos_lista {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .curso_img img {
        padding: 30px;
    }

    .curso_titulo {
        text-align: center;
    }

    .curso_subtitulo {
        text-align: center;
    }

    /************* EXPERIENCIA/PROYECTOS**************/

    .proyectos_titulo {
        text-align: center;
        margin-bottom: 20px;
    }

    .proyectos_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .proyectos_box:nth-child(odd) {
        display: flex;
        flex-direction: column-reverse;
    }

    .proyectos_img {
        width: 95%;
        height: auto;
        display: block;
        flex-direction: column;
        align-items: center;
    }

    /***** CONTACTO ******/

    .form_contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .img_contacto {
        display: none;
    }

    .form_contacto__ingreso {
        width: 90%;
    }

}

@media screen and (max-width:400px) {

    /*********** PROYECTOS/EXPERIENCIA ****************/

    .experiencia_titulo {
        margin: 0 20px;
    }

    .experiencia_texto {
        margin: 0 20px;
    }

    .experiencia_repo {
        margin: 0 20px;
    }

    /********** CONTACTO ***********/

    .form_contacto__titulo {
        margin: 0 20px;
    }

    .form_contacto__texto {
        margin: 0 20px;
    }

    .form_contacto__ingreso {
        margin: 10px 30px;
    }

    .form_contacto__mensaje {
        margin: 10px 30px;
    }

    .form_contacto__boton {
        margin: 10px 30px;
    }

    /********FOOTER********/

    .footer_texto {
        margin: 0px 20px;
    }

}
