#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_titulo {
    padding: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
}

.skills_lista__items {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    width: 150px;
    height: 174px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 20px;
}
.skills_lista__items:hover {
    transform: scale(1.2);
    background: #EAF2FD;
    border-radius: 20px;
}

.fa-brands {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2cbaba;
}

#softskills {
    margin-top: 30px;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.softskills_titulo {
    padding: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
}

.softskills_curso {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.softskills_cursos__lista {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-left: 10px;
    top: 0px;
}

.softskills_cursos__img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    width: 340px;
    height: 286px;
    background: #FFFFFF;
    border-radius: 20px;
}

.softskills_cursos__img img{
    width: 192px;
    height: 130px;
    left: 88px;
    top: 78px;
    border-radius: 20px;
    box-shadow: #464646 3px 3px 3px;
}

.softskills_cursos__img img:active {
    transform: scale(2);
}

.softskills_curso__titulo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}

.softskills_curso__subtitulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies_titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
    padding: 20px;
}

.hobbies_lista {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.hobbies_lista__items {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 20px;
}

.hobbies_lista__items-icono {
    position: static;
    width: 180px;
    display: block;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
}

.hobbies_lista__items-icono:hover {
    transform: scale(1.3);
    border-radius: 20px;
}

