#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills_titulo {
    padding: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
}

.skills_lista__items {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    width: 150px;
    height: 174px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border-radius: 20px;
}
.skills_lista__items:hover {
    transform: scale(1.2);
    background: #EAF2FD;
    border-radius: 20px;
}

.fa-brands {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2cbaba;
}

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hobbies_titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #464646;
    padding: 20px;
}

.hobbies_lista {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.hobbies_lista__items {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    background: #FFFFFF;
    border-radius: 20px;
}

.hobbies_lista__items-icono {
    position: static;
    width: 180px;
    display: block;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
}

.hobbies_lista__items-icono:hover {
    transform: scale(1.3);
    border-radius: 20px;
}

