#sobre {
    display: flex;
    align-items: center;
    padding: 32px;

    position: static;
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-top: 30px;


    background: #EAF2FD;
}

.sobre_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: static;
    width: auto;
    height: 340px;
    left: 152px;
    top: 64px;
}

.sobre_container__titulo {
    position: static;
    width: 137px;
    height: 38px;
    margin-left: 120px;
    top: 0px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    color: #464646;

}

.sobre_container__descripcion {
    position: static;
    width: 751px;
    height: 133px;
    margin-left: 120px;
    margin-top: 30px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #464646;

}

.sobre_container__imagenFirma {
    position: static;
    width: 140px;
    height: 52px;
    margin-left: 120px;
    margin-top: 5px;
}