#sobre {
    background: #EAF2FD;
    margin-top: 30px;
}

.sobre_container__titulo {
    margin-left: 60px;
    padding-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #464646;
}

.sobre_container__descripcion {
    width: 736px;
    margin-left: 60px;
    padding-top: 20px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #464646;
}

.sobre_container__imagenFirma {
    width: 140px;
    height: 52px;
    margin-left: 120px;
    margin-top: 20px;
}
